<app-navigation-bar></app-navigation-bar>

<!-- <main>
    <md-grid-list cols="12" rowHeight="fit">
        <md-grid-tile [colspan]='3' [rowspan]='3'>
            <app-profile></app-profile>
        </md-grid-tile>
        <md-grid-tile [colspan]='9' [rowspan]='7'>
            <app-people-list></app-people-list>
        </md-grid-tile>
        <md-grid-tile [colspan]='3' [rowspan]='4'>
            <app-search></app-search>
        </md-grid-tile>
    </md-grid-list>
</main> -->
<div class="container-fluid">
    <div class="row">
    <div class="col-3">
        <app-profile></app-profile>
        <app-search></app-search>
    </div>
    <div class="col-9">
        <app-people-list></app-people-list>
    </div>
    </div>
</div>