<!-- <md-card class="profile">
  <md-card-header>
    <md-card-title>Hi Juan</md-card-title>
  </md-card-header>
  <img md-card-image src="http://lorempixel.com/400/200/people/">
  <md-card-content>
  </md-card-content>
  <md-card-actions>
    <button color="primary" md-button md-mini-fab><md-icon>add</md-icon></button>
  </md-card-actions>
</md-card> -->

<div class="card">
  <img class="card-img-top" src="http://lorempixel.com/400/200/people" alt="Card image cap">
  <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>