<md-card class="profile">
  <md-card-header>
    <md-card-title>Search</md-card-title>
  </md-card-header>
  <md-card-content>
    <h2 class="example-h2">Slider configuration</h2>

    <section class="example-section">
      <label class="example-margin">Color:</label>
      <md-radio-group>
        <md-radio-button class="example-margin" value="primary">
          Primary
        </md-radio-button>
        <md-radio-button class="example-margin" value="accent">
          Accent
        </md-radio-button>
        <md-radio-button class="example-margin" value="warn">
          Warn
        </md-radio-button>
      </md-radio-group>
    </section>

    <section class="example-section">
      <md-checkbox class="example-margin">Checked</md-checkbox>
    </section>

    <section class="example-section">
      <md-checkbox class="example-margin">Disabled</md-checkbox>
    </section>
  </md-card-content>
  <md-card-actions>
    <button color="primary" md-button>Search</button>
    <button color="primary" md-button>Advance Search</button>
  </md-card-actions>
</md-card>