<div class="card">
  <div class="card-header">
    Search
  </div>
  <div class="card-block">
    <form>
      <div class="form-group">
        <label for="gender">I am</label>
        <select class="form-control" id="gender">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="seeking">Seeking</label>
        <select class="form-control" id="seeking">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="form-group form-inline">
        <label class="mr-sm-2" for="age">Age</label>
        <select class="form-control" id="age">
          <option>1</option>
          <option>2</option>
        </select>
        to
        <select class="form-control" id="age">
          <option>1</option>
          <option>2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" id="country">
          <option>Any Country</option>
        </select>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" id="state">
          <option>Any State</option>
        </select>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <select class="form-control" id="city">
          <option>Any City</option>
        </select>
      </div>
      <div class="form-group">
        <label for="lastActive">Last active</label>
        <select class="form-control" id="lastActive">
          <option>Any</option>
        </select>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Yes, profile with a photo
        </label>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button class="btn btn-primary">Advance Search</button>
    </form>
  </div>
</div>